# #1000

In [ ]:

print("Hello World!")

# #1001

In [ ]:
A = int(input())
B = int(input())

X = A + B
print(f"X = {X}")

# #1002

In [ ]:
raio = float(input())

A = 3.14159 * (raio**2)

print(f'A={A:.4f}')

# #1003

In [ ]:
A = int(input())
B = int(input())

X = A + B
print(f"SOMA = {X}")

# #1004

In [ ]:
A = int(input())
B = int(input())

X = A * B
print(f"PROD = {X}")

# #1005

In [ ]:
A = float(input())
B = float(input())

media = (3.5 * A + 7.5 * B)/11

print(f"MEDIA = {media:.5f}")

# #1006

In [ ]:
A = float(input())
B = float(input())
C = float(input())

media = (A*2 + B*3 + C*5)/10

print(f'MEDIA = {media:.1f}')

# #1007

In [ ]:
A = int(input())
B = int(input())
C = int(input())
D = int(input())

diferenca = (A * B - C * D)

print(f'DIFERENCA = {diferenca}')

# #1008

In [ ]:
funcionario = int(input())
horasTrab = int(input())
salHora = float(input())

salario = horasTrab * salHora
print(f'NUMBER = {funcionario}\nSALARY = U$ {salario:.2f}')

# #1009

In [ ]:
nome = input()
salarioFixo = float(input())
vendas = float(input())

comissao = vendas * 0.15

salario = comissao + salarioFixo

print(f"TOTAL = R$ {salario:.2f}")

# #1010

In [ ]:
produtoA = input().split(" ")
produtoB = input().split(" ")

codA,quantA,valA = produtoA
codB,quantB,valB = produtoB

total = (int(quantA) * float(valA) + (int(quantB) * float(valB)))

print(f'VALOR A PAGAR: R$ {total:.2f}')

# #1011

In [ ]:
R = float(input())
pi = 3.14159

volume = (4/3.0)*pi*(R**3)

print(f"VOLUME = {volume:.3f}")

# #1012

In [ ]:
A,B,C = map(float, input().split())
pi = 3.14159

areaTriangulo = (A * C)/2
areaCirculo = pi * C**2
areaTrapezio = ((A + B) * C)/2
areaQuadrado = B ** 2
areaRetangulo = A * B

print(f"TRIANGULO: {areaTriangulo:.3f}")
print(f"CIRCULO: {areaCirculo:.3f}")
print(f"TRAPEZIO: {areaTrapezio:.3f}")
print(f"QUADRADO: {areaQuadrado:.3f}")
print(f"RETANGULO: {areaRetangulo:.3f}")

# #1013

In [ ]:
a, b, c = map(int, input().split())

maiorAB = (a + b + abs(a - b))/2
maiorABC = (maiorAB + c + abs(maiorAB - c))/2

print(f"{maiorABC:.0f} eh o maior")

# #1014

In [ ]:
distanciaTotal = int(input())
combustivelGasto = float(input())

consumoMedio = distanciaTotal / combustivelGasto

print(f"{consumoMedio:.3f} km/l")

# #1015

In [ ]:
x1, y1 = map(float, input().split())
x2, y2 = map(float, input().split())

distancia = ((x2 - x1)**2 + (y2 - y1)**2)**0.5

print(f"{distancia:.4f}")

# #1016

In [ ]:
distancia = int(input())

tempo = distancia * 2

print(f"{tempo} minutos")

# #1017

In [ ]:
tempoGasto = int(input())
velMedia = int(input())

litNecessarios = (tempoGasto * velMedia) / 12

print(f"{litNecessarios:.3f}")

# #1018

In [ ]:
dinheiro = int(input())
total = dinheiro 
nota100, nota50, nota20, nota10, nota5, nota2, nota1 = 0, 0, 0, 0, 0, 0, 0


if (dinheiro >= 100):
    nota100 += dinheiro // 100
    dinheiro = dinheiro - 100 * nota100

if (dinheiro >= 50):
    nota50 = dinheiro // 50
    dinheiro = dinheiro - 50 * nota50
    
if (dinheiro >= 20):
    nota20 = dinheiro // 20
    dinheiro = dinheiro - 20 * nota20
    
if (dinheiro >= 10):
    nota10 = dinheiro // 10
    dinheiro = dinheiro - 10 * nota10
    
if (dinheiro >= 5):
    nota5 = dinheiro // 5
    dinheiro = dinheiro - 5 * nota5
    
if (dinheiro >= 2):
    nota2 = dinheiro // 2
    dinheiro = dinheiro - 2 * nota2
    
if (dinheiro == 1):
    nota1 = dinheiro

print(total)
print(f"{nota100} nota(s) de R$ 100,00")
print(f"{nota50} nota(s) de R$ 50,00")
print(f"{nota20} nota(s) de R$ 20,00")
print(f"{nota10} nota(s) de R$ 10,00")
print(f"{nota5} nota(s) de R$ 5,00")
print(f"{nota2} nota(s) de R$ 2,00")
print(f"{nota1} nota(s) de R$ 1,00")

# #1019

In [ ]:
N = int(input())
horas, minutos, segundos = 0, 0, 0

if (N >= 3600):
    horas = N // 3600
    N = N - 3600 * horas
if (N >= 60):
    minutos = N // 60
    N = N - 60 * minutos
segundos = N

print(f"{horas}:{minutos}:{segundos}")

# #1020

In [ ]:
idadeDias = int(input())
anos, meses, dias = 0, 0, 0

if (idadeDias >= 365):
    anos = idadeDias // 365
    idadeDias = idadeDias - anos * 365

if (idadeDias >= 30):
    meses = idadeDias // 30
    idadeDias = idadeDias - meses * 30
dias = idadeDias

print(f"{anos} ano(s)")
print(f"{meses} mes(es)")
print(f"{dias} dia(s)")

# #1021

In [ ]:
dinheiro = float(input())
total = dinheiro
nota100, nota50, nota20, nota10, nota5, nota2, moeda1, moeda50, moeda025, moeda010, moeda005, moeda001 = 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0

if (dinheiro >= 100):
    nota100 += dinheiro // 100
    dinheiro -= 100 * nota100

if (dinheiro >= 50):
    nota50 = dinheiro // 50
    dinheiro -= 50 * nota50

if (dinheiro >= 20):
    nota20 = dinheiro // 20
    dinheiro -= 20 * nota20

if (dinheiro >= 10):
    nota10 = dinheiro // 10
    dinheiro -= 10 * nota10

if (dinheiro >= 5):
    nota5 = dinheiro // 5
    dinheiro -= 5 * nota5

if (dinheiro >= 2):
    nota2 = dinheiro // 2
    dinheiro -= 2 * nota2

if (dinheiro >= 1):
    moeda1 += int(dinheiro)
    dinheiro -= 1 * moeda1

dinheiro *= 100

if (dinheiro >= 50):
    moeda50 = dinheiro // 50
    dinheiro -= 50 * moeda50

if (dinheiro >= 25):
    moeda025 = dinheiro // 25
    dinheiro -= 25 * moeda025

if (dinheiro >= 10):
    moeda010 = dinheiro // 10
    dinheiro -= 10 * moeda010

if (dinheiro >= 5):
    moeda005 = dinheiro // 5
    dinheiro -= 5 * moeda005

if (dinheiro >= 1):
    moeda001 = int(dinheiro)

print("NOTAS:")
print(f"{nota100:.0f} nota(s) de R$ 100.00")
print(f"{nota50:.0f} nota(s) de R$ 50.00")
print(f"{nota20:.0f} nota(s) de R$ 20.00")
print(f"{nota10:.0f} nota(s) de R$ 10.00")
print(f"{nota5:.0f} nota(s) de R$ 5.00")
print(f"{nota2:.0f} nota(s) de R$ 2.00")

print("MOEDAS:")
print(f"{moeda1:.0f} moeda(s) de R$ 1.00")
print(f"{moeda50:.0f} moeda(s) de R$ 0.50")
print(f"{moeda025:.0f} moeda(s) de R$ 0.25")
print(f"{moeda010:.0f} moeda(s) de R$ 0.10")
print(f"{moeda005:.0f} moeda(s) de R$ 0.05")
print(f"{moeda001:.0f} moeda(s) de R$ 0.01")

# #1035

In [ ]:
A, B, C, D = map(int, input().split())

if (B > C and D > A and C + D > A + B and C > 0 and D > 0 and A % 2 == 0):
    print("Valores aceitos")
else:
    print("Valores nao aceitos")

# #1036

In [ ]:
A, B, C = map(float, input().split())

delta = B**2 - 4 * A * C

if (A == 0 or delta < 0):
    print("Impossivel calcular")
else:
    bhaskaraPosi = (-B + ((delta)) ** 0.5) / (2 * A)
    bhaskaraNeg = (-B - ((delta)) ** 0.5) / (2 * A)
    print(f"R1 = {bhaskaraPosi:.5f}")
    print(f"R2 = {bhaskaraNeg:.5f}")

# #1037

In [ ]:
N = float(input())

if (N >= 0 and N <= 25):
    print("Intervalo [0,25]")
elif (N > 25 and N <= 50):
    print("Intervalo (25,50]")
elif (N > 50 and N <= 75):
    print("Intervalo (50,75]")
elif (N > 75 and N <=100):
    print("Intervalo (75,100]")
else:
    print("Fora de intervalo")

# #1038

In [ ]:
codigo, quanti = map(int, input().split())

match codigo:
    case 1:
        valor = 4
    case 2:
        valor = 4.5
    case 3:
        valor = 5
    case 4:
        valor = 2
    case 5:
        valor = 1.5

preco = quanti * valor

print(f"Total: R$ {preco:.2f}")

# #1040

In [ ]:
n1, n2, n3, n4 = map(float, input().split())

notaRecu = 0
media = (n1*2 + n2*3 + n3*4 + n4*1)/10


print(f"Media: {media:.1f}")

if (media >= 7):
    print("Aluno aprovado.")
elif (5 <= media <= 6.9):
    print("Aluno em exame.")

    notaRecu = float(input())
    mediaRecu = (media + notaRecu) / 2
    print(f"Nota do exame: {notaRecu:.1f}")
    if (mediaRecu >= 5.0):
        print("Aluno aprovado.")
        print(f"Media final: {mediaRecu:.1f}")
    else:
        print("Aluno reprovado.")
        print(f"Media final: {mediaRecu:.1f}")
else:
    print("Aluno reprovado.")

# #1041

In [ ]:
x, y = map(float, input().split())

if (x == 0 and y == 0):
    print("Origem")
elif (x > 0 and y > 0):
    print("Q1")
elif (x < 0 and y > 0):
    print("Q2")
elif (x < 0 and y < 0):
    print("Q3")
elif (x > 0 and y < 0):
    print("Q4")
elif (x == 0 and y != 0):
    print("Eixo Y")
elif (x != 0 and y == 0):
    print("Eixo x")

# #1042

In [ ]:
a, b, c = map(int, input().split())

if (a > b > c):
    print(f'{c}\n{b}\n{a}\n\n{a}\n{b}\n{c}')
elif (b > a > c):
    print(f'{b}\n{a}\n{b}\n\n{a}\n{b}\n{c}')
elif (c > b > a):
    print(f'{a}\n{b}\n{c}\n\n{a}\n{b}\n{c}')
elif (a > c > b):
    print(f'{b}\n{c}\n{a}\n\n{a}\n{b}\n{c}')
elif (b > c > a):
    print(f'{a}\n{c}\n{b}\n\n{a}\n{b}\n{c}')
elif (c > a > b):
    print(f'{b}\n{a}\n{c}\n\n{a}\n{b}\n{c}')

# #1043

In [ ]:
a, b, c = map(float, input().split())

if (a + b > c and a + c > b and b + c > a):
    perimetro = a + b + c
    print(f'Perimetro = {perimetro:.1f}')
else:
    area = ((a + b) * c)/2
    print(f'Area = {area:.1f}')

# #1044

In [ ]:
a, b = map(int, input().split())

if (a % b == 0 or b % a == 0):
    print("Sao Multiplos")
else:
    print("Nao sao Multiplos")

# #1045

In [ ]:
Lados = [float(x) for x in input().split(' ')]
Lados.sort(reverse=True)
A, B, C = Lados

    
if (A >= (B + C)):    
    print("NAO FORMA TRIANGULO")
else:
    if (A**2 == (B**2) + (C**2)):
        print("TRIANGULO RETANGULO")

    elif (A**2 > (B**2) + (C**2)):
        print("TRIANGULO OBTUSANGULO") 
    
    else:
        print("TRIANGULO ACUTANGULO")
    
    if (A == B == C):
            print("TRIANGULO EQUILATERO")

    elif (A == B != C or A == C != B or A != B == C):
            print("TRIANGULO ISOSCELES")

# #1046

In [ ]:
horaInicial, horaFinal = map(int, input().split())

if horaInicial < horaFinal:
    horasTotais = horaFinal - horaInicial
else:
    horasTotais = (24 + horaFinal) - horaInicial
print(f"O JOGO DUROU {horasTotais} HORA(S)")

# #1047

In [ ]:
horaInicial, minutoInicial, horaFinal, minutoFinal = map(int, input().split())

if (horaInicial == minutoInicial == horaFinal == minutoFinal):
    horasTotais = 24
    minutosTotais = 0
else:
    totalInicial = ((horaInicial * 60) + minutoInicial)
    totalFinal = ((horaFinal * 60) + minutoFinal)

    if (totalInicial > totalFinal):
        totalFinal += 1440
    tempoTotal = totalFinal - totalInicial

    horasTotais = tempoTotal // 60
    minutosTotais = tempoTotal - (horasTotais * 60)  


print(f"O JOGO DUROU {horasTotais} HORA(S) E {minutosTotais} MINUTO(S)")

# #1048

In [ ]:
salario = float(input())
reajuste = 0 
if (0 <= salario <= 400):
    reajuste = 0.15
    novoSalario = salario + (salario * reajuste)
    reajusteGanho = novoSalario - salario
elif (400 < salario <= 800):
    reajuste = 0.12
    novoSalario = salario + (salario * reajuste)
    reajusteGanho = novoSalario - salario

elif (800 < salario <= 1200):
    reajuste = 0.10
    novoSalario = salario + (salario * reajuste)
    reajusteGanho = novoSalario - salario

elif (1200 < salario <= 2000):
    reajuste = 0.07
    novoSalario = salario + (salario * reajuste)
    reajusteGanho = novoSalario - salario

elif (2000 < salario):
    reajuste = 0.04
    novoSalario = salario + (salario * reajuste)
    reajusteGanho = novoSalario - salario
print(f"Novo salario: {novoSalario:.2f}\nReajuste ganho: {reajusteGanho:.2f}\nEm percentual: {reajuste * 100:.0f} %")

# #1049

In [ ]:
vertebra = input()

match vertebra:
    case "vertebrado":
        reino1 = input()
        
        match reino1:
            case "ave":
                alimentacao1 = input()
                
                match alimentacao1:
                    
                    case "carnivoro":
                        print("aguia")
                        
                    case "onivoro":
                        print("pomba")
            case "mamifero":
                alimentacao2 = input()
                match alimentacao2:
                    
                    case "onivoro":
                        print("homem")
                        
                    case "herbivoro":
                        print("vaca")
    case "invertebrado":
        reino2 = input()
        
        match reino2:
            case "inseto":
                alimentacao3 = input()
                
                match alimentacao3:
                    
                    case "hematofago":
                        print("pulga")
                        
                    case "herbivoro":
                        print("lagarta")
                
            case "anelideo":
                alimentacao4 = input()
                
                match alimentacao4:
                    
                    case "hematofago":
                        print("sanguessuga")
                        
                    case "onivoro":
                        print("minhoca")

# #1050

In [ ]:
DDD = int(input())

match DDD:
    case 11:
        print("Sao Paulo")
    case 19:
        print("Campinas")
    case 21:
        print("Rio de Janeiro")
    case 27:
        print("Vitoria")
    case 31:
        print("Belo Horizonte")
    case 32:
        print("Juiz de Fora")
    case 61:
        print("Brasilia")
    case 71:
        print("Salvador")
if (DDD != 11 and DDD != 19 and DDD != 21 and DDD != 27 and DDD != 31 and DDD != 32 and DDD != 61 and DDD != 71):
    print("DDD nao cadastrado")

# #1051

In [ ]:
salario = float(input())
Isento = False


if (0 <= salario <= 2000):
    Isento = True
elif (2000 < salario <= 3000):
    impostoRenda = ((salario - 2000) * 0.08)
elif (3000 < salario <= 4500):
    impostoRenda = (1000 * 0.08 ) + ((salario - 3000) * 0.18)
elif (4500 < salario):
    impostoRenda = ((1000) * 0.08) + (1500 * 0.18) + ((salario - 4500) * 0.28)
    
if (Isento == True):
    print("Isento")
else:
    print(f"R$ {impostoRenda:.2f}")

# #1052

In [ ]:
mes = int(input())

match mes:
    case 1:
        print('January')
    case 2:
        print('February')
    case 3:
        print('March')
    case 4:
        print('April')
    case 5:
        print('May')
    case 6:
        print('June')
    case 7:
        print('July')
    case 8:
        print('August')
    case 9:
        print('September')
    case 10:
        print('October')
    case 11:
        print('November')
    case 12:
        print('December')

# #1059

In [ ]:
for i in range (2, 101, 2):
   print(i)

# #1060

In [19]:
positivo = 0
for i in range (6):
    N = float(input())
    if (N > 0):
        positivo += 1
print(f"{positivo} valores positivos")

4 valores positivos

# #1061

In [ ]:
dia, data1 = input().split()
data1 = int(data1)
hora1, minuto1, segundo1 = map(int, input().split(" : "))

dia, data2 = input().split()
data2 = int(data2)
hora2, minuto2, segundo2 = map(int, input().split(" : "))

segundos = segundo2 - segundo1
minutos = minuto2 - minuto1
horas = hora2 - hora1
data = data2 - data1

if (segundos < 0):
    segundos += 60
    minutos -= 1
if (minutos < 0):
    minutos += 60
    horas -=1
if(horas < 0):
    horas += 24
    data -= 1

print(f"{data} dia(s)\n{horas} hora(s)\n{minutos} minuto(s)\n{segundos} segundo(s)")

# #1064

In [31]:
positivo = 0
valores = 0
for i in range (6):
    N = float(input())
    if (N > 0):
        valores += N
        positivo += 1
print(f"{positivo} valores positivos\n{valores/positivo:.1f}")

4 valores positivos
7.4

# #1065

In [32]:
pares = 0

for i in range (5):
    N = int(input())
    if (N % 2 == 0):
        pares+=1
print(f"{pares} valores pares")

3 valores pares

# #1066

In [34]:
pares = 0
impares = 0
positivos = 0
negativos = 0

for i in range (5):
    N = int(input())
    
    if (N % 2 == 0):
        pares += 1
    else:
        impares += 1
    
    if (N > 0):
        positivos += 1
    elif (N < 0):
        negativos += 1
        
print(f"{pares} valor(es) par(es)\n{impares} valor(es) impar(es)\n{positivos} valor(es) positivo(s)\n{negativos} valor(es) negativo(s)")

3 valor(es) par(es)
2 valor(es) impar(es)
1 valor(es) positivo(s)
3 valor(es) negativo(s)

# #1067

In [37]:
X = int(input())

for i in range (1, X+1, 2):
    print(i)

1
3
5
7

# #1070

In [53]:
X = int(input())
sequencia = 0

if (X % 2 != 0):
    i = X + 2
    print(X)
    sequencia += 1
elif (X % 2 == 0):
    i = X + 1

while (sequencia < 6):
    if (i % 2 != 0):
        print(i)    
        i+=2
        sequencia+=1
    else:
        i+= 1
        print(i)
        sequencia+=1

7
9
11
13
15
17

# #1071

In [62]:
X = int(input())
Y = int(input())
soma = 0
for i in range (Y + 1, X):
    if (i % 2 != 0):
        soma += i
print(soma)

5

# #1072

In [64]:
N = int(input())
in_ = 0
out_ = 0
for i in range (N):
    X = int(input())
    if (10 <= X <= 20):
        in_ += 1
    else:
        out_ += 1
print(f"{in_} in\n{out_} out")

2 in
2 out

# #1073

In [1]:
N = int(input())

for i in range (1, N + 1):
    if (i % 2 == 0):
        quadrado = i ** 2
        print(f"{i}^2 = {quadrado}")

2^2 = 4
4^2 = 16
6^2 = 36
8^2 = 64
10^2 = 100
12^2 = 144
14^2 = 196
16^2 = 256
18^2 = 324
20^2 = 400
22^2 = 484
24^2 = 576
26^2 = 676
28^2 = 784
30^2 = 900
32^2 = 1024
34^2 = 1156
36^2 = 1296
38^2 = 1444
40^2 = 1600

# #1074

In [2]:
N = int(input())

for i in range (N):
    x = int(input())
    
    if (x % 2 == 0):
        if (x > 0):
            print("EVEN POSITIVE")
        elif (x == 0):
            print("NULL")
        elif (x < 0):
            print("EVEN NEGATIVE")
    else:
        if (x > 0):
            print("ODD POSITIVE")
        elif (x == 0):
            print("NULL")
        elif (x < 0):
            print("ODD NEGATIVE")

ODD NEGATIVE
NULL
ODD POSITIVE
EVEN NEGATIVE

# #1075

In [3]:
N = int(input())

for i in range (10000):
    if (i % N == 2):
        print(i)

2
15
28
41
54
67
80
93
106
119
132
145
158
171
184
197
210
223
236
249
262
275
288
301
314
327
340
353
366
379
392
405
418
431
444
457
470
483
496
509
522
535
548
561
574
587
600
613
626
639
652
665
678
691
704
717
730
743
756
769
782
795
808
821
834
847
860
873
886
899
912
925
938
951
964
977
990
1003
1016
1029
1042
1055
1068
1081
1094
1107
1120
1133
1146
1159
1172
1185
1198
1211
1224
1237
1250
1263
1276
1289
1302
1315
1328
1341
1354
1367
1380
1393
1406
1419
1432
1445
1458
1471
1484
1497
1510
1523
1536
1549
1562
1575
1588
1601
1614
1627
1640
1653
1666
1679
1692
1705
1718
1731
1744
1757
1770
1783
1796
1809
1822
1835
1848
1861
1874
1887
1900
1913
1926
1939
1952
1965
1978
1991
2004
2017
2030
2043
2056
2069
2082
2095
2108
2121
2134
2147
2160
2173
2186
2199
2212
2225
2238
2251
2264
2277
2290
2303
2316
2329
2342
2355
2368
2381
2394
2407
2420
2433
2446
2459
2472
2485
2498
2511
2524
2537
2550
2563
2576
2589
2602
2615
2628
2641
2654
2667
2680
2693
2706
2719
2732
2745
2758
2771
2784
2797
2810
2823
2836
2849
2862
2875
2888
2901
2914
2927
2940
2953
2966
2979
2992
3005
3018
3031
3044
3057
3070
3083
3096
3109
3122
3135
3148
3161
3174
3187
3200
3213
3226
3239
3252
3265
3278
3291
3304
3317
3330
3343
3356
3369
3382
3395
3408
3421
3434
3447
3460
3473
3486
3499
3512
3525
3538
3551
3564
3577
3590
3603
3616
3629
3642
3655
3668
3681
3694
3707
3720
3733
3746
3759
3772
3785
3798
3811
3824
3837
3850
3863
3876
3889
3902
3915
3928
3941
3954
3967
3980
3993
4006
4019
4032
4045
4058
4071
4084
4097
4110
4123
4136
4149
4162
4175
4188
4201
4214
4227
4240
4253
4266
4279
4292
4305
4318
4331
4344
4357
4370
4383
4396
4409
4422
4435
4448
4461
4474
4487
4500
4513
4526
4539
4552
4565
4578
4591
4604
4617
4630
4643
4656
4669
4682
4695
4708
4721
4734
4747
4760
4773
4786
4799
4812
4825
4838
4851
4864
4877
4890
4903
4916
4929
4942
4955
4968
4981
4994
5007
5020
5033
5046
5059
5072
5085
5098
5111
5124
5137
5150
5163
5176
5189
5202
5215
5228
5241
5254
5267
5280
5293
5306
5319
5332
5345
5358
5371
5384
5397
5410
5423
5436
5449
5462
5475
5488
5501
5514
5527
5540
5553
5566
5579
5592
5605
5618
5631
5644
5657
5670
5683
5696
5709
5722
5735
5748
5761
5774
5787
5800
5813
5826
5839
5852
5865
5878
5891
5904
5917
5930
5943
5956
5969
5982
5995
6008
6021
6034
6047
6060
6073
6086
6099
6112
6125
6138
6151
6164
6177
6190
6203
6216
6229
6242
6255
6268
6281
6294
6307
6320
6333
6346
6359
6372
6385
6398
6411
6424
6437
6450
6463
6476
6489
6502
6515
6528
6541
6554
6567
6580
6593
6606
6619
6632
6645
6658
6671
6684
6697
6710
6723
6736
6749
6762
6775
6788
6801
6814
6827
6840
6853
6866
6879
6892
6905
6918
6931
6944
6957
6970
6983
6996
7009
7022
7035
7048
7061
7074
7087
7100
7113
7126
7139
7152
7165
7178
7191
7204
7217
7230
7243
7256
7269
7282
7295
7308
7321
7334
7347
7360
7373
7386
7399
7412
7425
7438
7451
7464
7477
7490
7503
7516
7529
7542
7555
7568
7581
7594
7607
7620
7633
7646
7659
7672
7685
7698
7711
7724
7737
7750
7763
7776
7789
7802
7815
7828
7841
7854
7867
7880
7893
7906
7919
7932
7945
7958
7971
7984
7997
8010
8023
8036
8049
8062
8075
8088
8101
8114
8127
8140
8153
8166
8179
8192
8205
8218
8231
8244
8257
8270
8283
8296
8309
8322
8335
8348
8361
8374
8387
8400
8413
8426
8439
8452
8465
8478
8491
8504
8517
8530
8543
8556
8569
8582
8595
8608
8621
8634
8647
8660
8673
8686
8699
8712
8725
8738
8751
8764
8777
8790
8803
8816
8829
8842
8855
8868
8881
8894
8907
8920
8933
8946
8959
8972
8985
8998
9011
9024
9037
9050
9063
9076
9089
9102
9115
9128
9141
9154
9167
9180
9193
9206
9219
9232
9245
9258
9271
9284
9297
9310
9323
9336
9349
9362
9375
9388
9401
9414
9427
9440
9453
9466
9479
9492
9505
9518
9531
9544
9557
9570
9583
9596
9609
9622
9635
9648
9661
9674
9687
9700
9713
9726
9739
9752
9765
9778
9791
9804
9817
9830
9843
9856
9869
9882
9895
9908
9921
9934
9947
9960
9973
9986
9999

# #1078

In [4]:
N = int(input())

for i in range (1, 11):
    quadrado = i * N
    print(f"{i} x {N} = {quadrado}")

1 x 140 = 140
2 x 140 = 280
3 x 140 = 420
4 x 140 = 560
5 x 140 = 700
6 x 140 = 840
7 x 140 = 980
8 x 140 = 1120
9 x 140 = 1260
10 x 140 = 1400

# #1079

In [5]:
N = int(input())

for i in range (N):
    a, b, c = map(float, input().split())
    
    mediaPonderada = ((a * 2) + (b * 3) + (c * 5))/10
    print(f"{mediaPonderada:.1f}")

5.7
6.3
9.3

# #1080

In [ ]:
lista = []
maior = 0
for i in range(100):
    
    N = int(input())
    lista.append(N)
    
    if (len(lista)== 1):
        maior = N
        indice = 0
    elif (N > maior):
        maior = N
        indice = lista.index(maior)
        
print(maior)
print(indice + 1)